@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
:root {
  font-family: "JetBrains Mono", monospace;
  color: #16171d;
  background: #f3f5f8;
  line-height: 1.5;
}

html, body {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

h1,
h2 {
  color: #10131a;
}
